In [ ]:
import pandas as pd
import random
import numpy as np
from datetime import timedelta, date

# Function to generate random dates
def random_dates(start_date, end_date, n=10):
    start = pd.to_datetime(start_date)
    end = pd.to_datetime(end_date)
    return [(start + timedelta(days=random.randint(0, int((end - start).days)))).strftime('%Y-%m-%d') for _ in range(n)]

# Sample data
names = ["John Doe", "Jane Smith", "Emily Davis", "Michael Brown", "Sarah Johnson",
         "William Taylor", "Olivia Martin", "James Wilson", "Linda Thomas", "Barbara Jones",
         "Robert Harris", "Jennifer Clark", "Maria Lewis", "David Walker", "Susan Lee",
         "Joseph Hall", "Margaret King", "Thomas Baker", "Carol White", "Sarah Young"]

# Define 8 unique products
products = ["Laptop", "Smartphone", "Headphones", "Tablet", "Camera",
            "Smartwatch", "Speakers", "E-reader"]

# Define realistic prices for each product
product_prices = {
    "Laptop": 800,
    "Smartphone": 600,
    "Headphones": 100,
    "Tablet": 400,
    "Camera": 700,
    "Smartwatch": 250,
    "Speakers": 150,
    "E-reader": 250
}

purchases = random.choices(products, k=20)

# Create a DataFrame
data = {
    "Name": random.choices(names, k=20),
    "Age": random.choices(range(18, 71), k=20),
    "Product Purchased": purchases,
    "Price": [product_prices[product] for product in purchases],  # Match price to product
    "Date": random_dates("2022-01-01", "2022-12-31", 20),
}

# Add warranty data
warranty_options = ["1 year", "2 years", "3 years", "N/A"]

warranty = random.choices(warranty_options, k=20)
# Replace "N/A" with NaN
warranty = [np.nan if w == "N/A" else w for w in warranty]

data["Warranty"] = warranty


# Creating a DataFrame
df = pd.DataFrame(data)

# Add a few Nan values
for _ in range(5):
    row = random.randint(0, len(df) - 1)
    col = random.choice(df.columns)
    df.at[row, col] = np.nan
# Display the DataFrame
print(df)

              Name   Age Product Purchased  Price        Date Warranty
0     Thomas Baker  70.0            Laptop  800.0  2022-02-09  3 years
1    Sarah Johnson  48.0            Camera  700.0         NaN  2 years
2     James Wilson  66.0          E-reader  250.0  2022-01-13  3 years
3    Michael Brown  48.0          Speakers  150.0  2022-09-29  2 years
4    Barbara Jones  40.0        Headphones  100.0  2022-01-09   1 year
5    Margaret King  23.0            Tablet  400.0  2022-11-09      NaN
6      Joseph Hall  57.0        Headphones    NaN  2022-03-21  2 years
7      Carol White  30.0               NaN  100.0  2022-10-09   1 year
8   William Taylor  48.0        Headphones  100.0  2022-02-27  3 years
9      Maria Lewis  63.0          E-reader  250.0  2022-02-04  3 years
10        John Doe   NaN            Camera  700.0  2022-07-05  3 years
11  Jennifer Clark  32.0            Laptop  800.0  2022-04-06   1 year
12   Barbara Jones  23.0        Headphones  100.0  2022-04-06  2 years
13    David Walker  37.0            Laptop  800.0  2022-03-06   1 year
14   Michael Brown  56.0          E-reader  250.0  2022-12-07  2 years
15     Maria Lewis  24.0            Camera  700.0  2022-04-03   1 year
16             NaN  38.0        Smartwatch  250.0  2022-10-24  2 years
17     Joseph Hall  53.0        Headphones  100.0  2022-08-15  3 years
18  Jennifer Clark  21.0            Tablet  400.0  2022-03-07   1 year
19   Michael Brown  48.0            Camera  700.0  2022-08-07  3 years

* Remove years from warranty column - make it an integer, to allow us to graph/measure the data in that column.
* Fill in missing prices based on similar/identical products (Product and Price)
* Maybe find missing ages based on Name of customer. If not, fill with median age.
* (Potentially drop rows with missing names. Based on the specific)
* Fill in missing waranties with 0.